h7{
  font-size: 1.5rem;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body-wrapper {
    max-width: 1000px;

    margin: 20px;
    padding-bottom: 200px;
}

.segment {
  display: flex;
  flex-direction: row;
  margin-bottom: 3rem;
}
.page_section {
  position: relative; /* Ensure the container is positioned */
  width: 100%; /* Full width */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* Center contents horizontally */
}

.page_section > h1 {
  position: absolute;
  z-index: 200;
  top: 100px;
  color: #fff;
  text-shadow: -1px -1px 1px #000, 4px 3px 1px var(--color_accent),
    5px 2px 1px #000;
  text-align: center;
}
.page_section > h2 {
  position: absolute;
  z-index: 200;
  top: 200px;
  color: #fff;
  text-shadow: -1px -1px 1px #000, 4px 3px 1px var(--color_accent),
    5px 2px 1px #000;
}

.info-image {
  z-index: 100;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
  width: 100%;
  height: 600px;
  object-fit: cover;
  object-position: 0 -470px;

}

.image-right > img {
  width: 630px;
  border-radius: 10px;
  margin-left: 50px ;
}

.image-left > img {
  width: 500px;
  border-radius: 10px;
  margin-right: 50px ;
}

.segment > text {
  display: flex;
  flex-direction: column;
}

.text > p {
  text-align: justify;
}

.text:not(:last-child) {
  margin-right: 1.5rem;
}
