body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body-wrapper {
    max-width: 800px;
}

.page_headder {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center contents horizontally */
}

.page_headder > * {
    text-align: center;
}

.intro > p {
    margin-bottom: 0.5rem;
}
