nav > ul{
  list-style-type: none ;
  text-align: center;
  padding-left: 0;
}
nav > ul > li {
  display: inline;
  padding: 0 5px;

}
nav > li > a {
  text-decoration: none;
}
nav > li > a:hover {
  text-decoration: underline;
}