@import url(colorsceme.css);

.svg-rotate-90 {
  z-index: 1;
  transform-origin: top left;
  position: absolute;
  height: auto;
  width: 10000px;
  top: 7450px;
  left: 0;
  overflow: hidden;
  line-height: 0;
  transform: rotate(-90deg);
}

.svg-rotate-90 svg {
  position: relative;
  display: block;
}

.svg-rotate-90 .shape-fill {
  fill: var(--color_primary);
  opacity: 0.05;
}

h1,
h2,
h3,
h5 {
  text-align: center;
}

#page-header {
  position: absolute;
  z-index: 200;
  top: 45vh;
  color: #fff;
  text-shadow: -1px -1px 1px #000, 4px 3px 1px var(--color_accent),
    5px 2px 1px #000;
}

/* div {
  padding: 0 10px;
} */

p {
  text-align: justify;
}

.page_section {
  position: relative; /* Ensure the container is positioned */
  width: 100%; /* Full width */
  margin: 0;
  padding: 0;
}

#infos {
  margin: 0;
  padding: 0;
  padding-top: 20px;
}

#stolpersteine {
  position: relative; /* Ensure the container is positioned */
  width: 100%; /* Full width */
  display: flex; /* Center contents horizontally and vertically */
  justify-content: center; /* Center contents horizontally */
  padding-top: 100px;

  background-color: #f2f2f2;
}

.infos-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stolpersteine-wrapper {
  max-width: 1000px;
}

.stolperstein {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-around;

  margin: 0;
  margin: 0 10px;
  margin-bottom: 0.3rem;
  padding: 10px;

  border-radius: 20px;
}

.stolpertein__ul {
  width: 100%;
}

.stolpertein__ul > ul {
  margin-left: 50px;
}

.stolpertein__ul > ul > li {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.stolperstein > img {
  width: 300px;
  border-radius: 10px;
}

.main {
  max-width: 1000px;
}

.Element-Block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 4rem;

  padding: 0 1rem;
  padding-bottom: 150px;
}

.Element-Block > div {
  padding: 5px;
  border-radius: 5px;
}

.Element-Block > div > p {
  text-align: justify;
  /* text-align: left; */
}

.Element-Block > div > h5 {
  margin: 0;
  padding: 0;

  text-align: left;
  padding-bottom: 0.3rem;
}

#top {
  margin: 2rem 0;
  padding: 0;
}

.info-image {
  z-index: 100;
  margin: 0;
  padding: 0;
  padding-bottom: 150px;
  width: 100%;
}
body {
  background-color:#66d7d118;
}
.max-width-1000 {
  max-width: 1400px;
}

#top {
  position: relative;
}

.custom-shape-divider-bottom-1709396499 {
  position: absolute;
  bottom: -41; /* Adjusted to move it up by 200px from the bottom of its containing div */
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1709396499 svg {
  position: relative;
  display: block;
  width: calc(119% + 1.3px);
  height: 189px;
}

.custom-shape-divider-bottom-1709396499 .shape-fill {
  fill: #f2f2f2;
}

.down-arrow {
  position: absolute;
  top: calc(100vh - 90px);
  left: calc(100vw - 94px);
  width: 0;
  height: 30px;
  border: 2px solid;
  border-radius: 2px;
  z-index: 300;
  color: #fff;
  animation: jumpInfinite 1.5s infinite;
}

.down-arrow:after {
  content: " ";
  position: absolute;
  top: 12px;
  left: -10px;
  width: 16px;
  height: 16px;
  border-bottom: 4px solid;
  border-right: 4px solid;
  border-radius: 4px;
  transform: rotateZ(45deg);
}
@keyframes jumpInfinite {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 10px;
  }
  100% {
    margin-top: 10%;
  }
}