@import "colorsceme.css";

body {
  background: var(--color_gradient_background);
}

h1 {
  text-align: center;
}
h3 {
  text-align: center;
}
h5 {
  text-align: center;
  margin-top: 2rem;
}

.main {
  padding-left: 400px;
  padding-right: 400px;
  margin-top: 3.5rem;
}

p {
  text-align: justify;
}

.accent_color_text {
  color: var(--color_accent);
}
