@import "colorsceme.css";




h1 {
  text-align: center;
}
h3 {
  text-align: center;
}
h5 {
  text-align: center;
  margin-top: 2rem;
}

.main {
  padding-left: 200px;
  padding-right: 200px;
  margin-top: 3.5rem;
  padding-bottom: 200px;
}

p {
  text-align: justify;
}

.accent_color_text {
  color: var(--color_accent);
}

h7{
  font-size: 1.5rem;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body-wrapper {
  max-width: 1000px;
  margin: 20px;
}

.segment {
  display: flex;
  flex-direction: row;
  margin-bottom: 3rem;
}

.page_section {
  position:relative; /* Ensure the container is positioned */
  width: 100%; /* Full width */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* Center contents horizontally */
}

.page_section > h1 {
  position: absolute;
  z-index: 200;
  top: 100px;
  color: #fff;
  text-shadow: -1px -1px 1px #000, 4px 3px 1px var(--color_accent),
  5px 2px 1px #000;
  text-align: center;
}

.page_section > h2 {
  position: absolute;
  z-index: 200;
  top: 200px;
  color: #fff;
  text-shadow: -1px -1px 1px #000, 4px 3px 1px var(--color_accent),
  5px 2px 1px #000;
}
.info-image {
  z-index: 100;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
  width: 100%;
  height: 600px;
  object-fit: cover;
  object-position: 0 2px;

}

.image3 {
  display: flex;
  flex-direction: row;
}

.image-right > img {
  width: 630px;
  border-radius: 10px;
  margin-left: 50px ;
  margin-top: 50px;
}

.image-left > img {
  width: 500px;
  border-radius: 10px;
  margin-right: 50px ;
}

.segment > text {
  display: flex;
  flex-direction: column;
}

.text > p {
  text-align: justify;
}

.text:not(:last-child) {
  margin-right: 1.5rem;
}

.image1 > img{ /*neu*/
  width: 500px;
  border-radius: 10px;
  margin-right: 5px ;
}
.image2 > img{ /*neu*/
  width: 500px;
  border-radius: 10px;
  margin-left: 5px ;
}
.image4 > img{ /*neu*/
  max-width: 1000px;
}
b{ /*neu*/
  text-decoration: underline;
}
b:hover{    /*neu*/
  color:darkblue;
  opacity: 120%;
  text-decoration: underline;
}
